<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.mo.study">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".WelcomeActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity">
        </activity>
        <activity android:name=".MainActivity2">
        </activity>
        <activity
            android:name=".ui.RecyclerViewActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.PieActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.PActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.PathActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.BezierActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.FingerActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.CoordinatorActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name=".ui2.LineTextActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui2.CardActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui2.LoadingActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui2.CoordinatorActivity2"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui2.ScrollerActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.RecyclerViewActivity2"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".network.VolleyActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui2.DialogActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui2.SpinnerActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>